{% extends 'base.html.twig' %}

{% block title %}Création du mot de passe{% endblock %}

{% block body %}
    <div class="container d-flex flex-column justify-content-center col-6">
        <br>
        <h1 class="text-center">Création du mot de passe</h1>
        <br>
        {% if error %}
            <div  class="alert-danger rounded text-center">{{ error }}</div>
            <br>
        {% endif %}
        {% if confirmation %}
            <div class="alert-success rounded text-center">{{ confirmation }}</div>
            <br>
        {% endif %}
        {{ include('email/_form.html.twig') }}
        <br>
    </div>






{% endblock %}
