{# templates/emails/signup.html.twig #}
<h1>Bonjour {{ eleve.prenom }} {{ eleve.nom }}, tu as été inscrit sur TurboPermis en tant qu'élève!</h1>

<p>Tu peux te connecter avec ces identifiants:</p>
<ul>
    <li>Mot de passe: {{ password }}</li>
</ul>
<p>Lors de ta première connection il te sera demander de change de mot de passe.</p>